html, body {width: 1000px;
height: 100%;
min-width: 310px;
margin: auto;
background-color: #E7FFF6;
}

header {
  width: 100%;
  background-color: #59CFB6;
  text-align: center;
  height:200px;
  margin-top: 2%;
}

header div {
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: middle;
  margin-top: 2.5%;
  margin-left: 2%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

header #home {
  background-color: #61E5D4;
}
header #projects {
  background-color: #11524E;
}
header #tech {
  background-color: #FAAA67;
}
header #cult {
  background-color: #0DBAB9;
}

header a {
  font-size: 1.1em;
  vertical-align: middle;
  line-height: 110px;
  text-decoration: none;
  color: #84918C;
}
header #home a:hover{
  color:white;
}
header #projects a:hover{
  color:#38C9BA;
}
header #cult a:hover{
  color: #11524E;
}

header #tech a {
  font-size: 1.1em;
  vertical-align: middle;
  line-height: 110px;
  text-decoration: none;
  color: #11524E;
}

header #tech a:hover{
  color: #84918C;
}

header #projects a, #cult a {
  vertical-align: middle;
  line-height: 110px;
  text-decoration: none;
  color: #D0E5DD;
}

#wrap {
  background-color: #5DB9AD;
}

#content {
  color: #153834;
  clear: both;
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.45em;
  border-top: 4px dashed #FAAA67;
}

#content p {
  text-indent: 7%;
}

#content img {
  height: 250px;
  width: 250px;
  float: right;
  padding-left: 5%;
  padding-bottom: 5%;
}

#contact {
  color: #153834;
  padding-left: 10%;
  padding-bottom: 1.5%;
  border-top: 4px dotted #FAAA67;
  border-bottom: 4px dotted #FAAA67;
  font-size: 1.2em;
}

#contact .email {
  height: 20px;
  width: 25px;

}

#contact a{
  text-decoration: none;
  color: DarkSlateGray;
  font-size: 1.3em;
}

#contact a:hover {
  text-decoration: underline;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: Turquoise;
  width: 100%;

}

footer img {
  height: 35px;
  width: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

footer p {
  text-align: left;
  font-size: 0.60em;
  margin-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
  color: black;
  letter-spacing: 0.3px;
   color: DarkSlateGray;
}