body {
  background-color: DarkSlateGray;
}
#page_name_type {
  background-color: green;
  text-align: center;
  border-radius: 40% 40% 0 0;
  margin: 0 5%;
}

h1 {
  font-size: 3em;
  background-color: orange;
  padding: 2% 0;
  color: yellow;
  border-radius: 50% 50% 0 0;
  border-bottom: dashed 2px black;
}


h2 {
  color: Pink;
  margin-bottom: -1.3%;
  padding-bottom: 1%;
  margin-top: -1.5%;
}

#nav_ul, #footer_ul {
  list-style: none;

  text-align: center;
}

#nav_ul a {
padding: 5%;
}

#nav_ul li {
  color: blue;
  margin-left: -5%;
  display: inline-block;
  padding: 1% 3%;
   background-color: white;
   border-radius: 50% 0;
}

a {
  text-decoration: none;
}

.post_content {
  background-color: LimeGreen;
  margin: 0 5% 2% 5%;
  padding: 1% 4%;
  border-left: 2em solid black;
  border-bottom: 2em solid DarkGray;

}

#post_title_date {
  background-color: red;
  margin: 0 5% 0 5%;
  margin-top: 0px;
  border-radius: 50% 50% 0 0;
  padding-top: 1%;
  border-bottom: dashed 2px black;
}

h3 {
  font-size: 2em;
  color: purple;
  margin: 1% 1% 1% 8.2%;
  display: inline-block;
}

h4 {
  color: orange;
  float: right;
  margin-right: 8.2%;
}
#post_start {
  font-size: 1.7em;
}

#buttons {
  clear: both;
  padding: 1%;
  text-align: center;
}

#newer_btn:hover, #older_btn:hover {
  background-color: LightBlue;
}
#newer_btn {
  padding: 1%;
  background-color: green;
  margin-right: 2%;
  border-radius: 50% 0;
}

#older_btn {
  padding: 1% 1.5%;
  background-color: green;
  margin-left: 2%;
  border-radius: 50% 0;
}

footer {
  background-color: Lavender;
  margin: 0 5% 0 5%;
  border-radius: 50% 50% 0 0;

}

#footer_ul {
padding-top: 1%;
 text-align: center;

 border-bottom: dashed 2px black;
 }

#footer_ul li {
  text-decoration: none;
  display: inline-block;
  padding: 0.5% 4% 0.5% 0.5%;

}

#copyright {
  clear: both;
  color: Turquoise;
  text-align: left;
  background-color: red;
  padding-left: 10%;
  font-size: 0.8em;
}

#copyright span {
  font-weight: bold;
}


.indent {
  text-indent: 2%;
}