html, body {width: 1000px;
height: 100%;
min-width: 310px;
margin: auto;
background-color: #80DDCD;
}

header {
  width: 100%;
  background-color: #AEF2E1;
  text-align: center;
  height:200px;
  margin-top: 2%;
}

header div {
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: middle;
  margin-top: 2.5%;
  margin-left: 2%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

header a {
  font-size: 1.1em;
  vertical-align: middle;
  line-height: 110px;
  text-decoration: none;
  color: #11524E;
}
header #home a:hover{
  color:white;
}
header #about a:hover{
  color:white;
}
header #cult a:hover{
  color: #38C9BA;
}

header #tech a {
  font-size: 1.1em;
  vertical-align: middle;
  line-height: 110px;
  text-decoration: none;
  color: #EFFFF4;
}

header #tech a:hover{
  color:#58F2E0;
}


header #home {
  background-color: #0DBAB9;
}
header #about {
  background-color: #61E5D4;
}
header #tech {
  background-color: #11524E;
}
header #cult {
  background-color: #EACBFF;
}

#wrap {
  background-color: #069182;
}

#content h1 {
  color: #153834;
  clear: both;
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  border-top: 4px dashed #EACBFF;

}
#content ul {
  clear: both;
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1em;
   border-bottom: 4px dotted #EACBFF;
  padding-bottom: 2%;
}

#content li {
  color: #153834;
  padding-bottom: 1%;
}

#content a {
  font-size: 1.2em;
  text-decoration: none;
  color: #153834;
}

#content a:hover {
  text-decoration: underline;
}

#content span {
  font-size: 0.80em;

}

footer {
  clear: both;
  text-align: center;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #61FFEE;
  width: 100%;
}

footer img {
  height: 35px;
  width: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

footer p {
  text-align: left;
  font-size: 0.60em;
  margin-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
  color: DarkSlateGray;
  letter-spacing: 0.3px;
}

/*---media queries----------*/

/*-----1000px--------*/

@media screen and (max-width: 1000px) {
  html, body {
    width: 100%;
  }
}

/*-----850px--------*/

@media screen and (max-width: 850px) {
  header {
    height:165px;
  }

  header div {
    height: 120px;
    width: 120px;
  }

  header a {
    font-size: 1.1em;
    line-height: 90px;
  }

  header #tech a {
  font-size: 1.1em;
  line-height: 90px;
  }
}

/*-----750px--------*/

@media screen and (max-width: 750px) {
  header {
    height:165px;
    padding-top: 1%;
  }

  footer img {
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

/*-----630px--------*/

@media screen and (max-width: 630px) {
  header {
    height:160px;
    padding-top: 1.5%;
  }

  #wrap {
    margin-top: 5%;
  }
 #content h1 {
    padding-top: 5%;
  }

  #content ul {
    padding-bottom: 5%;
  }

  #content li {

    padding-bottom: 2%;
  }
}

/*-----536px--------*/

@media screen and (max-width: 536px) {
  header {
    height:280px;
    padding-top: 1%;
  }

  footer img {
    padding-top: 1%;
    padding-bottom: 2%;
  }
}