---
layout: page
title: Archive
permalink: /archive/
---


{% if site.tags.technical %}
    <h5 class="index-headline featured"><span>Phase 0 Technical Blog</span></h5>

    <div>
      {% for post in site.tags.technical %}
          <div>
            <header class="archive-header">
              <h2 class="archive-post-title" itemprop="name"><a class="archive-post-link" href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
            </section> -->
            <div>
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date: "%B %d, %Y" }}</time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
      {% endfor %}
    </div>
{% endif %}

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>